# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/FrontEnd//doc/api/
**/FrontEnd//ios/Flutter/.last_build_id
/FrontEnd/.dart_tool/
/FrontEnd/.flutter-plugins
/FrontEnd/.flutter-plugins-dependencies
/FrontEnd/.packages
/FrontEnd/.pub-cache/
/FrontEnd/.pub/
/FrontEnd/build/

# Web related
/FrontEnd/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/FrontEnd//android/app/debug
/FrontEnd//android/app/profile
/FrontEnd//android/app/release

#nodeModules
/BackEnd/node_modules